<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="/static/css/book_content/reset.css" type="text/css">
		<link href="/static/css/book_content/fliptimer.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	</head>
	<body>
		<div id="root" class="container">
			<div class="m-artical-action">
				<div class="artical-action-mid" id="action-mid"></div>
			</div>
			<div id="top-nav" class="top-nav">
				<div class="dowebok">
					<div class="hours"></div>
					<div class="minutes"></div>
					<div class="seconds"></div>
				</div>
				<a href="/getredmoney/30000">领取红包</a>
			</div>

			<div id="xiaoshuo_chapter_title"></div>
		  <div id="xiaoshuo_container" class="m-read-content">
				<!-- 文章页面 静态数据 -->
				<h4>测试</h4>
				<p id="content_text">
					{{content_text}}
				  </p>
			</div>
			<div class="advert" id="advert">吴老师电话：17805545412</div>
			<div class="nav-pannel-bk font-container" style="display: none;"></div>
			<div class="nav-pannel font-container" id="font-container" style="display: none;">
				<div class="child-mod">
					<span>字号</span>
					<button id="large-font" class="font-size-button">大</button>
					<button id="small-font" class="font-size-button">小</button>
				</div>
				<div class="child-mod">
					<span>背景</span>
					<div class="bk-container" id="color1">
						<div class="bk-container-current"></div>
					</div>
					<div class="bk-container" id="color2">
						<div class="bk-container-current"></div>
					</div>
					<div class="bk-container" id="color3">
						<div class="bk-container-current"></div>
					</div>
					<div class="bk-container" id="color4">
						<div class="bk-container-current"></div>
					</div>
				</div>
			</div>


			<div class="bottom-nav-bk bottom_nav" id="footblack"></div>

			<div class="bottom-nav bottom_nav" id="foot">
				<div class="item menu-button" id="menu_button">
					<div class="item-warp">
						<div class="icon-menu"></div>
						<div class="icon-text">
							目录
						</div>
					</div>
				</div>
				<div class="item" id="font-button">
					<div class="item-warp">
						<div class="icon-ft"></div>
						<div class="icon-text">
							字体
						</div>
					</div>
				</div>
				<div class="item" id="night-button">
					<div class="item-warp" id="day_icon" style="display: none;">
						<div class="icon-day"></div>
						<div class="icon-text">
							白天
						</div>
					</div>
					<div class="item-warp" id="night_icon">
						<div class="icon-night"></div>
						<div class="icon-text">
							夜间
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/static/script/lib/jquery.fliptimer.js"></script>
	<script>
		// 获取距离页面顶部的距离

		//倒计时10秒
//		$(function(){
//			var d = new Date();
//			var myDate = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + (d.getSeconds() + 10);
//
//			$('.dowebok').flipTimer({
//				direction: 'down',
//				date: myDate,
//				callback: function(){
//					alert('倒计时结束！');
//				}
//			});
//		});
		//当前时间
//		$(function(){
//			$('.dowebok').flipTimer({
//				seconds: true
//			});
//		});
		$(function(){
			var d = new Date();
			var myDate = d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + (d.getSeconds()-1);
			console.log(myDate)

			$('.dowebok').flipTimer({
				direction: 'up',
				date:myDate
			});
		});
	</script>
	<script>

$(window).bind("scroll",function() {
    // 然后判断窗口的滚动条是否接近页面底部，这里的20可以自定义
    if ($(document).scrollTop() + $(window).height() > $(document).height() - 20) {
              //取Ajax返回结果
              htmlobj=$.ajax({url:"/book_content/{{title}}",async:false});
               //显示Ajax返回结果
               $("#content_text").append(htmlobj.responseText);
    }
});

		</script>
</html>