<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>我们念书吧</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="/static/css/main.css">
<style>

	a {  text-decoration:none; out-line: none; color: #*****;}

</style>
</head>
<body>

<div class="nav">我们念书吧</div>
<div class="container" id="container">
	<div class="loading-warp">
		<div class="box">
			<div>
				<img src="/static/image/loading.gif" />
				<span class="text">下拉开始刷新</span>
			</div>
		</div>
	</div>
	<ul class="list">
		{% for item in file_list%}
		<li><a href="/testpage/{{item}}">{{item}}</a></li>
		{%endfor%}
	</ul>
	</div>
</div>

<div class="linkAdv">
	<a href="index.html">Demo-1</a>
	<a href="demo-2.html">Demo-2</a>
	<a href="demo-3.html">Demo-3</a>
</div>

</body>

<script type="text/javascript" src="/static/script/lib/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/static/script/lib/touche.js"></script>
<script type="text/javascript" src="/static/script/p-pull-refresh.js"></script>

<script type="text/javascript">
	
	var $statu = $('.loading-warp .text');

	var pullRefresh = $('.container').pPullRefresh({
		$el: $('.container'),
		$loadingEl: $('.loading-warp'),
		sendData: null,
		url: 'test.php',
		autoHide: true,
		callbacks: {
			pullStart: function(){
				$statu.text('松开开始刷新');
			},
			start: function(){
				$statu.text('数据刷新中···');
			},
			success: function(response){
				$statu.text('数据刷新成功！');
			},
			end: function(){
				$statu.text('下拉刷新结束');
			},
			error: function(){
				$statu.text('找不到请求地址,数据刷新失败');
			}
		}
	});

	// pullRefresh.setDestroy(true);
	
</script>

</html>